<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DocHub</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>docHub.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterDoctorServlet</display-name>
    <servlet-name>RegisterDoctorServlet</servlet-name>
    <servlet-class>docHub.RegisterDoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterDoctorServlet</servlet-name>
    <url-pattern>/RegisterDoctorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterPatientServlet</display-name>
    <servlet-name>RegisterPatientServlet</servlet-name>
    <servlet-class>docHub.RegisterPatientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterPatientServlet</servlet-name>
    <url-pattern>/RegisterPatientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckAppontmentServlet</display-name>
    <servlet-name>CheckAppontmentServlet</servlet-name>
    <servlet-class>docHub.CheckAppontmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckAppontmentServlet</servlet-name>
    <url-pattern>/CheckAppontmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookAppontmentServlet</display-name>
    <servlet-name>BookAppontmentServlet</servlet-name>
    <servlet-class>docHub.BookAppontmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookAppontmentServlet</servlet-name>
    <url-pattern>/BookAppontmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppointmentServlet</display-name>
    <servlet-name>AppointmentServlet</servlet-name>
    <servlet-class>docHub.AppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppointmentServlet</servlet-name>
    <url-pattern>/AppointmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PLoginServlet</display-name>
    <servlet-name>PLoginServlet</servlet-name>
    <servlet-class>docHub.PLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PLoginServlet</servlet-name>
    <url-pattern>/PLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DLoginServlet</display-name>
    <servlet-name>DLoginServlet</servlet-name>
    <servlet-class>docHub.DLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DLoginServlet</servlet-name>
    <url-pattern>/DLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnterTimeServlet</display-name>
    <servlet-name>EnterTimeServlet</servlet-name>
    <servlet-class>docHub.EnterTimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnterTimeServlet</servlet-name>
    <url-pattern>/EnterTimeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayTimeServlet</display-name>
    <servlet-name>DisplayTimeServlet</servlet-name>
    <servlet-class>docHub.DisplayTimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayTimeServlet</servlet-name>
    <url-pattern>/DisplayTimeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAppointmentServlet</display-name>
    <servlet-name>ViewAppointmentServlet</servlet-name>
    <servlet-class>docHub.ViewAppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAppointmentServlet</servlet-name>
    <url-pattern>/ViewAppointmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmTimeServlet</display-name>
    <servlet-name>ConfirmTimeServlet</servlet-name>
    <servlet-class>docHub.ConfirmTimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmTimeServlet</servlet-name>
    <url-pattern>/ConfirmTimeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmAppServlet</display-name>
    <servlet-name>ConfirmAppServlet</servlet-name>
    <servlet-class>docHub.ConfirmAppServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmAppServlet</servlet-name>
    <url-pattern>/ConfirmAppServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDoctorServlet</display-name>
    <servlet-name>UpdateDoctorServlet</servlet-name>
    <servlet-class>docHub.UpdateDoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDoctorServlet</servlet-name>
    <url-pattern>/UpdateDoctorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePatientServlet</display-name>
    <servlet-name>UpdatePatientServlet</servlet-name>
    <servlet-class>docHub.UpdatePatientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePatientServlet</servlet-name>
    <url-pattern>/UpdatePatientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>docHub.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>authtoken</param-name>
    <param-value>1yS0ImEyHvN4dW3SMDNpWN__C_uTbb7v_c4MpCOXJeXAyscOAGIU8zy3uJ0</param-value>
  </context-param>
  <context-param>
    <param-name>posturl</param-name>
    <param-value>https://sandbox.paypal.com/cig-bin/webscr</param-value>
  </context-param>
  <context-param>
    <param-name>business</param-name>
    <param-value>dcyou.us.merchant@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>returnurl</param-name>
    <param-value>http://test.bytv9gef9u.us-west-2.elasticbeanstalk.com/searchdoctor.jsp</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>FeedbackServlet</display-name>
    <servlet-name>FeedbackServlet</servlet-name>
    <servlet-class>docHub.FeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackServlet</servlet-name>
    <url-pattern>/FeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientHistoryServlet</display-name>
    <servlet-name>PatientHistoryServlet</servlet-name>
    <servlet-class>docHub.PatientHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientHistoryServlet</servlet-name>
    <url-pattern>/PatientHistoryServlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>DReviewServlet</display-name>
    <servlet-name>DReviewServlet</servlet-name>
    <servlet-class>docHub.DReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DReviewServlet</servlet-name>
    <url-pattern>/DReviewServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>ReviewServlet</display-name>
    <servlet-name>ReviewServlet</servlet-name>
    <servlet-class>docHub.ReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewServlet</servlet-name>
    <url-pattern>/ReviewServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>Review1</display-name>
    <servlet-name>Review1</servlet-name>
    <servlet-class>docHub.Review1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Review1</servlet-name>
    <url-pattern>/Review1</url-pattern>
  </servlet-mapping>
  
</web-app>